<form [formGroup]="form">
  <div class="card col-sm-6 mt-5 offset-3">
    <div class="card-header">
      Login
    </div>

    <div class="card-body">
      <div class="mb-3">
        <label class="form-label">User</label>
        <input type="text" class="form-control" formControlName="username" placeholder="User">
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="password">
      </div>

      <button type="submit" (click)="onSubmit()" class="btn btn-primary">Login</button>
    </div>
  </div>
</form>

